/*Nav*/ 
h1{
    font-weight: 700;
    font-size: 50pt;
    margin-left: 0.5em;
  }
  #navTop{
    display: flex;
    align-items: center;
  }
  #listTop{
    display: flex;
    align-items: center;
  }
  .navbar-item{
    border-bottom: 1px solid #f0f0f0;
    max-width: 60px;
    display: flex;
  }
  #nav-items.active{
    border-bottom: 1px solid #f0f0f0;
    
  }
  /*Hover--Nav*/
  .liHover:hover{
    border-bottom: 1px solid #f0f0f0;
  }
  /*Main*/
  #divTempo{
    max-width: 8.5rem; 
  }
  #sectionBorder{
    border-bottom: 1px solid #736f6f;
  }
  #spanZH>span{
    font-weight: 700;
  }
  #spanGaucha>span{
    font-weight: 700;
  }
  #spanGZH>span{
    font-weight: 700;
  }
  #sectionBorder>div>span{
    font-size: 11pt;
  }
  h4{
    margin: 0 auto;
    font-size: 14pt;
  }
  h5{
    margin: 0 auto;
    font-size: 13pt;
  }
  h6{
    margin: 0 auto;
    font-size: 12pt;
  }
  #divTempo{
    margin: 0 auto;
    display: flex;
    justify-content: left;
    text-align: end;
   
  }
  #divTempo>div>a>span{
    font-size: 9pt;
  
  }
  a{
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  img{
    cursor: pointer;
  }
  /*Hover--SectionPrimaria*/
  h5:hover{
    cursor: pointer;
    color: #97A6A0;
    transition: 0.5s 
  }
  a:hover{
    color: #085454;
    transition: 0.5s;
  }
  /*SectionSecundaria*/
  #sectionSecundaria{
    background-color: #7A7A7A;
  }
  .colorLink{
    color: #FFFFFF;
  }
  /*Footer*/
  #iconeWhats{
    display: flex;
    align-items: center; 
  }
  #divIconesFooter{
    text-align: center;
  }
  #divButtonFooter{
    text-align: center;
  }
  #divButtonFooter>button{
    color: #FFFFFF;
    font-weight: 620;
  }
  #divButtonFooter>button:hover{
    color: #0f0c0c;
  }
  /*COLL*/
  @media screen and (max-width:576px){
    #divGaucha{
      display: none;
    }
    #spanGZH{
      font-size: 10pt;
    }
    #spanZH{
      font-size: 10pt;
    }
    #divLogoFooter{
      text-align: center;
    }
    #divFraseFooter{
      text-align: center;
    }
    #divContatoFooter{
      text-align: end;
    }
    #iconeWhats{
      text-align: left;
    }
  }
  /*SM*/
  @media screen and (max-width: 768px){ 
    #navbar-items{
      justify-content: end;
      padding-right: 3rem;
    }
    #spanGZH{
      font-size: 12pt;
    }
    #spanZH{
      font-size: 12pt;
    }
    #divLogoFooter{
      text-align: center;
    }
    #divFraseFooter{
      text-align: center;
    }
    #divContatoFooter{
      text-align: end;
    }
    #iconeWhats{
      text-align: left;
    }
  }
  /*MD*/
  @media screen and (min-width: 768px ) {
    #divLogoFooter{
      text-align: left;
    }
    #navbar-items>ul{
      margin: 0 auto;
    }
  }